
body{
    background-color: rgb(152, 159, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}
.card{
    background-color: rgb(182, 171, 171);
    padding: 20px;
    width: 300px;
}
.card img{
    width:100%;
    border-radius: 15px;
}
.card h2{
    color: blueviolet;
    margin: 15,0,10;
}
.card p{
    width: 300px;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card button{
    background: linear-gradient(152deg,#f00,#0f0);
    border-radius: 20px;
        color: blue;}
.menna{
    display: flex;
    justify-content: space-around;
}

